/* Header Component Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #222;
  color: #fff;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.link {
  text-decoration: none;
  color: #fff;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  padding: 8px;
  border-radius: 5px;
}

.search-button {
  background-color: #444;
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.user-actions {
  display: flex;
  align-items: center;
}

.cart-button,
.login-button {
  background-color: #444;
  border: none;
  color: #fff;
  padding: 8px 15px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

/* Footer Component Styles */
.footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Products Component Styles */
.products {
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
}

.page-button {
  padding: 5px 10px;
  border: 1px solid #222;
  margin-right: 5px;
  cursor: pointer;
}

.page-button.active {
  background-color: #222;
  color: #fff;
}

/* ProductCard Component Styles */
.product-card {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-image {
  max-width: 300px;
  max-height: 200px;
  width: auto;
  height: auto;
}

.product-image-main {
  max-width: 120%;
  max-height: auto; /* Adjust the max height as needed */
  object-fit: contain; /* Maintain aspect ratio without stretching */
  margin-bottom: 20px;
}

.product-title {
  margin: 10px 0;
}

.product-price {
  font-weight: bold;
}

.add-to-cart-button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Login Component Styles */
.login {
  background-image: url("https://w0.peakpx.com/wallpaper/468/979/HD-wallpaper-anime-landscape-falling-stars-sunset-clouds-anime-girl-scenic-anime.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.login-button {
  background-color: #f59e0b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.login-button:hover {
  background-color: #e68307;
}

/* Register Component Styles */
.register {
  background-image: url("https://w0.peakpx.com/wallpaper/468/979/HD-wallpaper-anime-landscape-falling-stars-sunset-clouds-anime-girl-scenic-anime.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.register-title {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.register-button {
  background-color: #f59e0b;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.register-button:hover {
  background-color: #e68307;
}

/* ProductPage Component Styles */
.product-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.product-image-container {
  flex: 1;
  padding: 20px;
}

.product-details {
  flex: 2;
  padding: 20px;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-description {
  color: #666;
  margin-bottom: 20px;
}

.product-reviews {
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  margin-bottom: 20px;
}

.add-to-cart-button,
.buy-button {
  background-color: #f59e0b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.add-to-cart-button:hover,
.buy-button:hover {
  background-color: #e68307;
}
/* App Styles */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: grid;
  grid-template-rows: auto 1fr;
}

/* ProductDetail Component Styles */
.product-detail {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.product-image-container {
  flex: 0 0 50%; /* Adjust the width of the image container */
  margin-right: 20px;
  overflow: hidden;
}

.product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-price {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.product-description {
  margin-bottom: 20px;
}

.product-reviews {
  color: #888;
  margin-bottom: 10px;
}

.add-to-cart-button,
.buy-now-button {
  background-color: #f59e0b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.add-to-cart-button:hover,
.buy-now-button:hover {
  background-color: #e68307;
}
